<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Restablecer Contraseña</h2>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="resetPassword()" routerLink="/home">Restablecer</ion-button>
  <ion-button expand="block" color="light" routerLink="/home">Cancelar</ion-button>
</ion-content>
