<ion-header>
  <ion-toolbar>
    <ion-title>Escanear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="startScan()">Iniciar Escaneo</ion-button>
  <ion-button (click)="stopScan()">Detener Escaneo</ion-button>

  <div *ngIf="sigla && seccion && sala && fecha">
    <h2>Detalles escaneados:</h2>
    <p><strong>Sigla:</strong> {{ sigla }}</p>
    <p><strong>Sección:</strong> {{ seccion }}</p>
    <p><strong>Sala:</strong> {{ sala }}</p>
    <p><strong>Fecha:</strong> {{ fecha }}</p>
  </div>
</ion-content>
