.ion-card-clima {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    min-height: 200px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    position: relative;
    color: black;
}

.ion-card-asis {
    display: flex;
    flex-direction: column;
    width: 200px;
    min-height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    position: relative;
    color: black;
}

ion-card h2, ion-card h3, ion-card p {
    color: black; /* Aplica solo a los elementos h2, h3, p dentro de ion-card */
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Crea columnas con un ancho mínimo de 300px */
    gap: 10px; /* Espacio entre los cards */
}

.cards-container-asis {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Crea columnas con un ancho mínimo de 300px */
    gap: 16px; /* Espacio entre los cards */
}

.boton-ingresar {
    width: 150px;
    height: 50px;
    --background: #FDBA31; /* Color de fondo */
    --color: #021826; /* Color del texto */
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
  

h2, h3 { 
    margin: 0; 
    padding: 10px; 
   /* font-size: 2vw; /* Usar unidades relativas a la ventana de vista */ 
    /*word-break: break-word; /* Permitir la ruptura de palabras largas */ 
}
.container { 
    padding: 20px; 
}