<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-input
      fill="solid"
      label="User Name"
      labelPlacement="floating"
      helperText="Enter a valid User Name"
      errorText="Invalid User Name"
      [(ngModel)]="email"
    ></ion-input>
    
    <ion-input 
      type="password"
      fill="solid"
      label="password"
      labelPlacement="floating"
      helperText="Enter a valid password"
      errorText="Invalid password" [(ngModel)]="password">
    </ion-input>
  
    <ion-button expand="block" (click)="iniciarSesion()">INGRESAR</ion-button>
    <ion-button expand="block" color="medium" routerLink="/reset-password">Restablecer Contraseña</ion-button>
  </ion-list>
  
</ion-content>
